.cabecera {
    border-bottom: 1px #D3D3D3 solid;
}

* {
    margin: 0;
    padding: 0;
}

input {
    height: 45px;
    background-color: #EFEFEF;
    margin: 14px;
    position: relative;
    left: 58px;
    border: none;
    border-radius: 3px;
    padding-left: 85px;
    color: gray;
}

[src|="pinterest.png"] {
    position: relative;
    top: 8px;
    left: 70px;
    width: 35px;
    height: 35px;
}

[src|="magnifying-glass.png"] {
    position: relative;
    top: 4px;
    left: 155px;
    width: 18px;
    height: 18px;
    z-index: 1;
}

[value|="nombre"]{
    color: gray;
    z-index: -1;
}